.card {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.05s ease-in-out;
  margin-left: -2rem;
  width: 5rem;
  height: 7rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: #eee;
  box-shadow: -0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.2);
  user-select: none;
  font-size: 1.5rem;
}
.card:hover {
  background: #fff;
}
.card-small {
  width: 3.75rem;
  height: 5.25rem;
  font-size: 1.125rem;
}
.card-selected {
  transform: translateY(-2rem);
}

.card-red {
  color: #ad123d;
}
.card-black {
  color: black;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  padding-top: 5%;
  padding-right: 10%;
}

.card-suit {
  width: 60%;
  aspect-ratio: 1;
  fill: currentColor;
}

.joker {
  align-self: center;
  width: 70%;
  aspect-ratio: 1;
}
.small-joker {
  filter: grayscale(100%);
}

.cards {
  display: flex;
  margin-left: 2rem;
}
