/* catppuccin mocha */
:root {
  --rosewater: #f5e0dc;
  --rosewater-rgb: 245 224 220;
  --flamingo: #f2cdcd;
  --flamingo-rgb: 242 205 205;
  --pink: #f5c2e7;
  --pink-rgb: 245 194 231;
  --mauve: #cba6f7;
  --mauve-rgb: 203 166 247;
  --red: #f38ba8;
  --red-rgb: 243 139 168;
  --maroon: #eba0ac;
  --maroon-rgb: 235 160 172;
  --peach: #fab387;
  --peach-rgb: 250 179 135;
  --yellow: #f9e2af;
  --yellow-rgb: 249 226 175;
  --green: #a6e3a1;
  --green-rgb: 166 227 161;
  --teal: #94e2d5;
  --teal-rgb: 148 226 213;
  --sky: #89dceb;
  --sky-rgb: 137 220 235;
  --sapphire: #74c7ec;
  --sapphire-rgb: 116 199 236;
  --blue: #89b4fa;
  --blue-rgb: 137 180 250;
  --lavender: #b4befe;
  --lavender-rgb: 180 190 254;
  --text: #cdd6f4;
  --text-rgb: 205 214 244;
  --subtext1: #bac2de;
  --subtext1-rgb: 186 194 222;
  --subtext0: #a6adc8;
  --subtext0-rgb: 166 173 200;
  --overlay2: #9399b2;
  --overlay2-rgb: 147 153 178;
  --overlay1: #7f849c;
  --overlay1-rgb: 127 132 156;
  --overlay0: #6c7086;
  --overlay0-rgb: 108 112 134;
  --surface2: #585b70;
  --surface2-rgb: 88 91 112;
  --surface1: #45475a;
  --surface1-rgb: 69 71 90;
  --surface0: #313244;
  --surface0-rgb: 49 50 68;
  --base: #1e1e2e;
  --base-rgb: 30 30 46;
  --mantle: #181825;
  --mantle-rgb: 24 24 37;
  --crust: #11111b;
  --crust-rgb: 17 17 27;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--base);
  background-image: url(@/assets/bg-pattern.svg);
  background-size: 5rem;
  color: var(--text);
  font-family: "Inter", sans-serif;
}

a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: var(--overlay2);
  font-weight: 700;
  font-size: inherit;
  color: var(--crust);
  cursor: pointer;
}
button:disabled {
  background: var(--surface0);
  cursor: not-allowed;
}

.btn-primary {
  background: var(--blue);
}
.btn-primary:hover {
  background: var(--sapphire);
}
.btn-primary:active {
  background: var(--sky);
}
.btn-primary:disabled {
  background: var(--surface0);
  cursor: not-allowed;
}

.btn-secondary {
  background: var(--rosewater);
}
.btn-secondary:hover {
  background: var(--pink);
}
.btn-secondary:active {
  background: var(--mauve);
}
.btn-secondary:disabled {
  background: var(--surface0);
  cursor: not-allowed;
}

input {
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--overlay0);
  background: var(--mantle);
  font-size: 1rem;
  color: var(--text);
}
input:focus {
  outline: 2px solid var(--rosewater);
}

.form-row {
  display: flex;
  gap: 1rem;
}
.form-row > input {
  flex: 1;
}

.medium {
  font-weight: 500;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 3rem;
  background: var(--surface0);
  box-shadow: 0 0 1rem var(--crust);
  font-size: 1.25rem;
}
